<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HackRSS - Visual hacker news - RSS Reader">

    <title><%= @title || "Visual Hacker News - HackRSS" %></title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

  	<script type="text/javascript">
  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-94954-22']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();
  	</script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <%= yield %>

    <footer>
    Powered by <a href='http://url2png.com/?via=hackrss'>URL2PNG</a> &middot; Fork me on <a href="http://github.com/danvine/hackrss.com">Github</a>
    </footer>

  </body>
</html>
